:root {
  --clr-bg: #dbc8c8;
  --clr-head: #dbc8c8;
  --clr-border: #d7cece;
  --clr-font: "Poppins", sans-serif;
  --clr-para: #141313;
}

* ,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: var(--clr-font);
}

html {
  background-color: var(--clr-bg);
}

/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.heading {
  color: var(--clr-head);
  margin-bottom: 1rem;
}

.para {
  border: 1px solid var(--clr-border);
  width: 50ch;
  padding: 1rem;
  /* color: var(--clr-para);
} */

.wrapper {
  border: 1px solid #000;
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
}
.item {
  width: 200px;
  height: 100px;
  background-color: red;
  border-radius: 6px;
  position: absolute;
  left: 100%;
}
